/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    background: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 17%,
      #d9dbd5 17%,
      #d9dbd5 100%
    );
}
/* MAIN BLOCKS */
.container {
    max-width: 1400px;
    margin: 30px auto;
}
.col-4, .col-8 {
    padding: 0;
    height: 850px;
}
.col-8 {
    border-left: 1px solid #d6d6d6;
}
/* GENERAL SETTINGS COL */
.generic-col, .insert-text-col {
    background-color: #eaeaea;
    height: 80px;
}
.notification-col {
    height: 90px;
    background-color: #8edafc;
}
.search-col {
    height: 45px;
    background-color: #fafafa;
}
.resume-chat-col {
    background-color: #fff;
    height: calc(100% - 215px);
}
.chatting-col {
    background-image: url('/img/mine.jpg');
    height: calc(100% - 160px);
}
.insert-text-col {
    background-color: #f3eeea;
}
.avatar {
    min-width: 15%;
    width: 15%;
    border-radius: 50%;
}
i {
    margin: 0 10px;
}
/* MESSAGE SETTINGS */
.received-text {
    background-color: #fff;
}
.sent-text {
    background-color: #d5f9ba;
}
/* ADVANCE SETTING COL LEFT */

/* USER SECTION */
.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.users-avatar-name, .users-icons {
    display: flex;
    align-items: center;
}
.users i {
    color: #b1b1b1;
}
/* /USER SECTION */

/* SECTION ALERT NOTIFICATION */
.notification-col {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.box-alert {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.box-alert i {
    color: #8edafc;
}
.notification-message p {
    margin: 0;
}
.greyLink, .notification-message a{
    font-size: 14px;
    color: #697485;
    text-decoration-color: #697485;
}
/* /SECTION ALERT NOTIFICATION */