/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    background: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 17%,
      #d9dbd5 17%,
      #d9dbd5 100%
    );
}
/* MAIN BLOCKS */
.container {
    max-width: 1400px;
    margin: 30px auto;
}
.col-4, .col-8 {
    padding: 0;
}
.col-4 {
    background-color: aqua;
    height: 850px;
}
.col-8 {
    height: 850px;
    border-left: 1px solid #d6d6d6;
    background-color: salmon;
}
/* GENERAL SETTINGS COL */
.gen-col {
    background-color: #eaeaea;
    height: 80px;
}
.notification-col {
    height: 90px;
    background-color: #8edafc;
}
.search-col {
    height: 45px;
    background-color: #fafafa;
}
.resume-chat-col {
    background-color: #fff;
    height: calc(100% - 215px);
}
.chatting-col {
    background-image: url('/img/mine.jpg');
    height: calc(100% - 160px);
}
.insert-text-col {
    background-color: #f3eeea;
    height: 80px;
}